<template>
  <div class="question">
    <QuestionItem
      v-if="getQuestionByIndex != undefined"
      v-bind="getQuestionByIndex"
      :question="getQuestionByIndex"
      :answers="getAllAnswersByIndex"
      @answer-selected="storeAnswer"
    />
    <h1 class="currentQuestion">
      CURRENT QUESTION {{ getCurrentQuestionIndex + 1 }}/{{
        getTotalNumberOfQuestions
      }}
    </h1>
  </div>
</template>

<script>
import QuestionItem from "@/components/Question/QuestionItem.vue";
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  name: "QuestionView",
  components: {
    QuestionItem,
  },
  data() {
    return {
      index: 0,
    };
  },
  methods: {
    ...mapActions(["loadGame", "setAllAnswers"]),
    ...mapMutations(["setQuestionIndex"]),
    storeAnswer() {
      this.$store.commit("setQuestionIndex");
      if (this.getCurrentQuestionIndex >= this.getTotalNumberOfQuestions) {
        this.$router.push("result");
      }
    },
  },
  async created() {
    this.$store.dispatch("loadGame").then(() => {
      this.$store.dispatch("setAllAnswers");
    });
  },
  computed: {
    ...mapState(["questions", "questionIndex"]),
    getQuestionByIndex() {
      return this.$store.getters.getQuestionsByIndex;
    },
    getCurrentQuestionIndex() {
      return this.$store.getters.getCurrentQuestionIndex;
    },
    getTotalNumberOfQuestions() {
      return this.$store.getters.getTotalNumberOfQuestions;
    },
    getAllAnswersByIndex() {
      return this.$store.getters.getAllAnswersByIndex;
    },
  },
};
</script>

<style scoped>
.currentQuestion {
  color: #ffffff;
  font-size: 33px;
}
</style>