<template>
  <div class="result">
    <h1 class="title">RESULTS</h1>
    <h2 class="score">Score: {{ getScore }}</h2>

    <Result v-for="(answer, index) in getUserAnswers" :key="answer.id"
    :question="getQuestionByIndex(index)"
    :userAnswer="getUserAnswersByIndex(index)"
    :correctAnswer="getCorrectAnswersByIndex(index)"/>

    <button v-on:click="startScreen" class="submitBtn">
      START SCREEN
    </button>
    <button v-on:click="continueGame" class="submitBtn">
      PLAY AGAIN
    </button>
  </div>
</template>

<script>
import Result from "@/components/Result/Result.vue";
import { mapGetters, mapMutations, mapState } from "vuex";

export default {
  name: "ResultView",
  components: {
    Result,
  },
  methods: {
    ...mapMutations(["calculateScore", "setCorrectAnswers", "resetAll", "playAgain", "setQuestionsToString"]),
    startScreen() {
      this.resetAll();
      this.$router.push("/");
    },
    continueGame() {
      this.playAgain();
      this.$router.push("/questions");
    }
  },
  created() {
    this.setCorrectAnswers();
    this.calculateScore();
    this.setQuestionsToString();
  },
  computed: {
    ...mapState(["score", "userAnswers", "correctAnswers"]),
    ...mapGetters(["getUserAnswersByIndex", "getCorrectAnswersByIndex", "getQuestionByIndex"]),
    getScore() {
      return this.$store.getters.getScore;
    },
    getUserAnswers() {
      return this.$store.getters.getAllUserAnswers;
    },
  },
};
</script>

<style scoped>
.title {
  color: #983b9c;
  font-size: 44px;
}

.score {
  color: beige;
  font-size: 22px;
}

.submitBtn {
  background-color: #bfd8f5;
  color: #6186ab;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #564a57;
  border-radius: 10px;
  cursor: crosshair;
  padding: 12px;
  margin: 2px;
}
</style>