<template>
  <div class="start">
    <Start @game-started="handleStartGame" />
  </div>
</template>

<script>
import Start from "@/components/Start/Start.vue";

export default {
  name: "StartView",
  components: {
    Start,
  },
  methods: {
    handleStartGame() {
      this.$router.push("questions");
    },
  },
};
</script>