<template>
  <div class="start">
    <h1 class="title">TRIVIA GAME</h1>

    <select v-model="selectedCategory" class="category">
      <option>Any Category</option>
      <option
        v-for="category in categories"
        :key="category.id"
        v-bind:value="category.id"
      >
        {{ category.name }}
      </option>
    </select>
    <br />
    <br />

    <select v-model="selectedDifficulty" class="difficulty">
      <option>Any Difficulty</option>
      <option
        v-for="difficulty in difficulties"
        :key="difficulty.id"
        v-bind:value="difficulty"
      >
        {{ difficulty }}
      </option>
    </select>
    <br />
    <br />

    <input
      type="number"
      v-model="numberOfQuestions"
      class="numOfQuestions"
      min="1"
      max="50"
    />
    <br />
    <br />
    <button v-on:click="startGame" v-if="showStartButton" class="submitBtn">
      START GAME
    </button>
  </div>
</template>

<script>
import { getCategoriesFromApi } from "@/util/api.js";
import { setUpGameUrl } from "@/util/api.js";
import { mapMutations } from "vuex";

export default {
  name: "Start",
  components: {},
  data() {
    return {
      categories: [],
      difficulties: ["Easy", "Medium", "Hard"],
      numberOfQuestions: 0,
      selectedCategory: 0,
      selectedDifficulty: "",
    };
  },
  methods: {
    ...mapMutations(["setCategory", "setDifficulty", "setNumberOfQuestions"]),
    async loadCategoriesFromApi() {
      try {
        this.categories = await getCategoriesFromApi();
      } catch (error) {
        console.log("error");
      }
    },
    startGame() {
      if (this.selectedCategory == "Any Category") {
        this.selectedCategory = "";
      }
      if (this.selectedDifficulty.includes("Any")) {
        this.selectedDifficulty = "";
      }
      setUpGameUrl(
        this.numberOfQuestions,
        this.selectedCategory,
        this.selectedDifficulty.toLowerCase()
      );
      this.$store.commit("setCategory", this.selectedCategory);
      this.$store.commit(
        "setDifficulty",
        this.selectedDifficulty.toLowerCase()
      );
      this.$store.commit("setNumberOfQuestions", this.numberOfQuestions);
      this.$emit("game-started");
    },
  },
  computed: {
    showStartButton() {
      return this.numberOfQuestions > 0 && this.numberOfQuestions <= 50;
    },
  },
  created() {
    this.loadCategoriesFromApi();
  },
};
</script>

<style scoped>
.title {
  font-size: 77px;
  font-weight: bolder;
  color: #edfcff;
  padding-bottom: 40px;
}

.difficulty,
.category {
  color: #0062ff;
  font-size: 20px;
  width: 400px;
  height: 30px;
}

.numOfQuestions {
  color: #0062ff;
  font-size: 20px;
  width: 50px;
  height: 30px;
}

.submitBtn {
  background-color: #bfd8f5;
  color: #6186ab;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #94137a;
  border-radius: 10px;
  cursor: crosshair;
  padding: 12px;
}

.submitBtn:hover {
  background-color: #89a8cc;
  border: 3px solid #e86bcf;
}
</style>