<template>
  <div class="result">
    <div class="question">
      <h1>QUESTION: {{ question }}</h1>
    </div>
    <div class="answers">
      <div class="playerAnswer">
        <h2>YOUR ANSWER: {{ userAnswer }}</h2>
      </div>
      <div class="correctAnswer">
        <h2>CORRECT ANSWER: {{ correctAnswer }}</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Result",
  props: {
    question: String,
    userAnswer: String,
    correctAnswer: String,
  },
};
</script>

<style scoped>
.result {
  /* display: grid;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  justify-content: center;
  padding: 25px;
  margin: 40px; */
  border-radius: 33px;
  display: flex;
  background: #6186ab;
  padding: 25px;
  margin: 40px;
}

.question{
  border: 4px solid #61ab97;
  border-radius: 18px;
  padding: 10px;
}

.answers {
  width: 80%;
  padding: 10px;
}

.playerAnswer,
.correctAnswer {
  border: 2px solid #61ab97;
  border-radius: 14px;
  margin: 8px;
  padding: 2px;
}
</style>