<template>
  <div class="questionitem">
    <h1 class="category">{{ question.category }}</h1>
    <div class="titleDiv">
      <h2 class="title">{{ question.question }}</h2>
    </div>
    <div v-if="answers != undefined">
      <div class="answers">
        <h2
          class="answer"
          v-for="answer in answers"
          :key="answer.id"
          v-bind:value="answer.id"
          v-on:click="sendBackAnswer($event)"
        >
          {{ answer }}
        </h2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "QuestionItem",
  props: {
    question: {
      type: Object,
      require: true,
    },
    answers: [],
  },
  data() {
    return {};
  },
  methods: {
    ...mapMutations(["setUserAnswer"]),
    sendBackAnswer(event) {
      this.$emit("answer-selected");
      this.$store.commit("setUserAnswer", event.target.innerText);
    },
  },
};
</script>

<style scoped>
.questionitem {
  padding: 60px;
}

.title,
.category {
  color: #ffffff;
  font-weight: bolder;
}
.titleDiv {
  margin: 2%;
  margin-bottom: 6%;
}
.answers {
  display: grid;
  grid-template-columns: repeat(2, 222px);
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  justify-content: center;
  margin-bottom: 2%;
}
.answer {
  background: #f5f7d7;
  color: #454544;
  padding: 4%;
  border: 2px solid #94137a;
  border-radius: 10px;
}
.answer:hover {
  background: #bbbda8;
  border: 4px solid #94137a;
  cursor: crosshair;
}
</style>